################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectMicroservices/FileContentIndex/c396101b-2641-4388-bdce-d26a40483bb2.vsidx
